extends layout

block content
  p#w= word

  .panel
    .pure-menu.pure-menu-open.pure-menu-horizontal
      ul
        li
          a(href='#', id='tw')
            i(class='fa fa-twitter') &nbsp;Tweet
        li
          a(href='#', id='fb')
            i(class='fa fa-facebook') &nbsp;Share
    p#counter 0 times
    p.score
      span#hit 0 hits
      / HighScore: 
      span#highscore 0 hits

  .panel.social-plugins
    div(class='fb-like', data-href='http://takmsapp.katteba.com/#{ word }', data-colorscheme='light', data-layout='box_count', data-action='like', data-show-faces='true')

  .panel
    form#create.pure-form
      fieldset.pure-group
        input(type='text', name='word', class='pure-input-1', placeholder='New word') 
        button(type='submit', class='pure-button pure-button-primary pure-input-1') Create


block javascripts
  script.
    $(function() {
      var $w = $('#w')
        , $counter = $('#counter')
        , $hit = $('#hit')
        , $highscore = $('#highscore')
        , $tw = $('#tw')
        , $fb = $('#fb')
        , $form = $('#create')
        , originalText = $w.text()
        , originalChars = originalText.split('')
        , highscore = 0
        , counter = 0
        , timer
        , auto = function() {
            timer = setInterval(function() {
              $w.click();
              if ($w.text() == originalText) {
                clearInterval(timer);
              }
            }, 50);
          };

      $w.on('click', function() {
        var $w = $(this)
          , hit = 0
          , shuffledChars = _.shuffle($w.text().split(''));

        $hit.removeClass('high');
        $w.empty();

        _(originalChars).each(function(val, i) {
          var $c = $('<span />').text(shuffledChars[i]);

          if (val == shuffledChars[i]) {
            $c.addClass('match');
            hit++;
          }

          $w.append($c);
        });

        highscore = _.max([highscore, hit]);

        $counter.text(++counter + ' times');
        $hit.text(hit + ' hits');
        $highscore.text(highscore + ' hits');

        if (highscore == hit) {
          $hit.addClass('high');
        }

        ga('send', 'event', 'click', 'shuffle', originalText);
      });

      $tw.on('click', function(e) {
        e.preventDefault();

        var text = $w.text() + ' (' + $hit.text() + ', ' + $counter.text() + ') / ' + originalText
          , url = 'https://twitter.com/share?';

        url += 'url=' + encodeURIComponent('http://takmsapp.katteba.com/' + encodeURIComponent(originalText));
        url += '&text=' + encodeURIComponent(text);
        url += '&via=takmsapp';
        url += '&related=takmsapp';
        url += '&hashtags=takmsapp';

        window.open(url, 'tweet');

        ga('send', 'social', 'twitter', 'tweet', 'http://takmsapp.katteba.com/' + originalText);
      });

      $fb.on('click', function(e) {
        e.preventDefault();

        FB.ui({
          method: 'feed',
          name: $.text(),
          link: 'http://takmsapp.katteba.com/' + originalText,
          caption: '(' + $hit.text() + ', ' + $counter.text() + ') / ' + originalText
        }, function(response) {
          if (response && response.post_id) {
            ga('send', 'social', 'facebook', 'share', 'http://takmsapp.katteba.com/' + originalText);
          }
        });
      });

      $form.on('submit', function(e) {
        e.preventDefault();

        var word = $('input[name=word]', $form).val();

        window.location = '/' + word;
      });

      $(document).cheatCode({
        activated: auto,
        unbind: false
      }).gShake(auto);
    });
