body{font:12px/18px "Lucida Grande","Lucida Sans Unicode","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ",Meiryo,"ＭＳ Ｐゴシック",Helvetica,Arial,Verdana,sans-serif;text-align:center}
#w{font-size:100pt;font-weight:bold;cursor:pointer}
.match{color:#ff0000}
.panel{margin:30px 0 20px;color:#666}
.high{font-weight:bold}
.footer{margin:50px 0 0;padding:20px 0;border-top:1px solid #dbdbdb;color:#999}
@media screen and (max-width:768px){#w{font-size:38pt}}@media screen and (max-width:480px){#w{font-size:26pt}}
